
/*Reinicio de valores por defecto*/

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
	
    font-size: 100%;
    list-style-type: none;
    font-family: verdana;}

a {
color: black;
font-size: 1.2em;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #212529 !important;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}


/*Imagen 1*/
.img{
	width: 300px;
	height: 300px;
	margin-top: 2vw;
	
	
}
.title{
  font-size: 2em;
  margin-top: 2vw;
  margin-bottom: 2vw;

}

.marquee {
  width: 100%;
  background: rgba(222, 115, 79, 0.495);
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  color: #ffffff;
}

.marquee div {
  font-size: 2rem;
  font-family: verdana;
  padding-left: 100%;
  display: inline-block;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  100% {
    transform: translate(-100%, 0);
  }
}

