
/*Reinicio de valores por defecto*/

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
	
    font-size: 100%;
    list-style-type: none;
    font-family: verdana;}

a {
color: black;
font-size: 1.2em;
}
.text-muted {
  --bs-text-opacity: 1;
  color: #ffffff!important;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #212529 !important;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}


/*Imagen 1*/
.img{
	width: 300px;
	height: 300px;
	margin-top: 2vw;
	
	
}
.title{
  font-size: 4em;
  margin-top: 2vw;
  margin-bottom: 2vw;

}
.textEscritura{
  font-size:2.5rem;
}
.TextMovil{
  font-weight: bold;
     color: #2d2d2d;
     font-style: normal;
     font-size: 2.5rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1pxsolidrgba(0,0,0,.125);
  border-radius: 0.25rem;
  align-items: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.profile{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.marquee {
  width: 100%;
  background: rgba(222, 115, 79, 0.495);
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  color: #ffffff;
}

.marquee div {
  font-size: 2rem;
  font-family: verdana;
  padding-left: 100%;
  display: inline-block;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  100% {
    transform: translate(-100%, 0);
  }
}

